* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.total-window {
    width: 90%;
    margin: 0px 20px;
    height: 90vh;
}

.contacts-window {
    width: 40%;
    background-color: lightgray;
}


.user-info img {
    width: 20%;
    border-radius: 50%;
}

.notifiche {
    background-color: lightblue;
}

.search-bar input {
    width: 100%;
}

.contact {
    border: 1px solid black;
}

.contact-img {
    width: 20%;
}

.active_contact {
    background-color: lightgray;
}

.no_active_contact {
    background-color: white;
}

.contacts {
    background-color: white;
    margin-bottom: 5px;
}

.contacts img {
    width: 100%;
    border-radius: 50%;
}