* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    overflow-y: hidden;
}

.total-window {
    width: 90%;
    margin: 0px 20px;
    height: 90vh;
}

.contacts-window {
    width: 40%;
    background-color: lightgray;
}

.user {
    height: 100px;
}


.user-info img {
    width: 60px;
    border-radius: 50%;
}

.notifiche {
    background-color: lightblue;
    margin-top: 29px;
}

.search-bar input {
    width: 100%;
}

.contact {
    border: 1px solid black;
    height: 100px;
}

.contact-img {
    width: 15%;
}

.active_contact {
    background-color: lightgray;
}

.no_active_contact {
    background-color: white;
}

.contacts {
    background-color: white;
    margin-bottom: 5px;
    overflow-y: scroll;
}

.contacts img {
    width: 100%;
    border-radius: 50%;
}

.chat-window {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.last {
    color: gray;
}

.messages {
    background-image: url('../img/mine.jpg');
    flex-grow: 1;
    position: relative;
}

.sent {
    position: absolute;
    right: 0px;
}

.sent p {
    background-color: green;
}

.write-message {
    height: 10%;
    background-color: white;
}